In [1]:
import pandas as pd
import numpy as np

In [14]:
basics = pd.read_csv("./title.basics_cleaned.csv", sep=",", low_memory=False)

In [15]:
basics.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,0,0,0,tt0000001,short,Carmencita,Carmencita,0,1894.0,0,1,Documentary Short
1,1,1,1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,0,5,Animation Short
2,2,2,2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892.0,0,4,Animation Comedy Romance
3,3,3,3,tt0000004,short,Un bon bock,Un bon bock,0,1892.0,0,12,Animation Short
4,4,4,4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,0,1,Comedy Short

In [16]:
basics[basics["runtimeMinutes"]=="Documentary"]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1922284,1922284,1922284,1922284,tt11670006,tvEpisode,...ein angenehmer Unbequemer...\t...ein angene...,0,1981,NaN,0,Documentary,NaN

In [18]:
basics[basics["runtimeMinutes"].str.isnumeric() == False]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1922284,1922284,1922284,1922284,tt11670006,tvEpisode,...ein angenehmer Unbequemer...\t...ein angene...,0,1981,NaN,0,Documentary,NaN
2036179,2036179,2036179,2036179,tt11868642,tvEpisode,GGN Heavyweight Championship Lungs With Mike T...,0,2020,NaN,0,Talk-Show,NaN
2196838,2196838,2196838,2196838,tt12149332,tvEpisode,Jeopardy! College Championship Semifinal Game ...,0,2020,NaN,0,Game-Show,NaN

In [19]:
basics['runtimeMinutes'] = basics['runtimeMinutes'].replace(r'Documentary', np.nan)

In [20]:
basics['runtimeMinutes'] = basics['runtimeMinutes'].replace(r'Talk-Show', np.nan)

In [21]:
basics['runtimeMinutes'] = basics['runtimeMinutes'].replace(r'Game-Show', np.nan)

In [22]:
basics['runtimeMinutes'].dtype

dtype('O')

In [23]:
basics[basics['runtimeMinutes'].isnull() == True]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1101863,1101863,1101863,1101863,tt10233364,tvEpisode,Rolling in the Deep Dish\tRolling in the Deep ...,0,2019,NaN,0,NaN,NaN
1922284,1922284,1922284,1922284,tt11670006,tvEpisode,...ein angenehmer Unbequemer...\t...ein angene...,0,1981,NaN,0,NaN,NaN
2036179,2036179,2036179,2036179,tt11868642,tvEpisode,GGN Heavyweight Championship Lungs With Mike T...,0,2020,NaN,0,NaN,NaN
2196838,2196838,2196838,2196838,tt12149332,tvEpisode,Jeopardy! College Championship Semifinal Game ...,0,2020,NaN,0,NaN,NaN
2348021,2348021,2348021,2348021,tt12415330,tvEpisode,Anthony Davis High Brow Tank\tAnthony Davis Hi...,0,2017,NaN,0,NaN,NaN
4516540,4516540,4516540,4516540,tt3984412,tvEpisode,"I'm Not Going to Come Last, I'm Just Going to ...",0,2014,NaN,0,NaN,NaN

In [24]:
basics.to_csv("title.basics_cleaned_v4.csv")